body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: rgb(225, 46, 14);
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-links a{
    text-decoration: none;
    color: #222222;
}

.f-links a:hover{
    text-decoration: underline;
}

.f-links,
.f-info-socials ,
.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0rem !important;
}

.card-text p{
    font-weight: 400 !important;
}

.list-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Edit  */
.edit-btn{
    border: none !important;
    background-color: brown !important;
}
/* show image */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0px !important;
    padding-right: 0px;
}

/* Map */
#map {
  width: 80vh;
  height: 400px;
  border-radius: 10px;
}
/* edit image */
.edit-img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  display: block;
}
/* icons */
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        opacity: 0.7;
    }

    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }

    .filter p{
        font-size: 0.9rem;
    }

    .tax-info{
        display: none;
    }

    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 2.9rem;
        padding: 1rem;
        margin-top:-1rem ;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
